In [1]:
import numpy as np
import pandas as pd

# Data

In [2]:
#df = pd.read_csv('cpspb\asec\prod\data\2019\asec_csv_repwgt_2019.csv')
family = pd.read_csv('cpspb\\asec\\prod\\data\\2019\\ffpub19.csv')
household = pd.read_csv('cpspb\\asec\\prod\\data\\2019\\hhpub19.csv')
person = pd.read_csv('cpspb\\asec\\prod\\data\\2019\\pppub19.csv')

# Agrupaciones

Hay que unir houselhold con person with H_SEQ

In [ ]:
housedold variables:
    GESTFIPS (state) and GTCO(county)
    HTOTVAL (Total household income)
    H_NUMPER (Number of persons in household)
    HRHTYPE (Household type)

In [ ]:
Person variables:
A_AGE = age
A_FAMREL = Family relationship
A_FAMTYP = Family type
A_MARITL = Marital status
A_SEX = sex
PENATVTY = In what country were you born?
PEHSPNON = Are you Spanish, Hispanic, or Latino?
PRCITSHP = CITIZENSHIP GROUP
PRDTRACE = Race
A_HRSPAY = How much does ... earn per hour?

# Filter

Suffolk County, Wainscott's county

In [3]:
suffolk = household[(household['GESTFIPS']==36)&(household['GTCO']==103)]

In [4]:
suffolk_person = suffolk.merge(person, how='left', left_on='H_SEQ', right_on='PH_SEQ')

In [5]:
#Error con estimado del censo
((suffolk_person['A_FNLWGT'].sum()/100)/1476601)-1

-0.024393014768376853

In [ ]:
# Fields: User id, age, sex, marital status, income, ethnicity

In [6]:
suffolk_person = suffolk_person[['PH_SEQ', 'PPPOS',
                                 'A_AGE', 'A_SEX', 'A_MARITL', 
                                 'PRDTRACE', 'PEARNVAL', 'A_FNLWGT', 
                                ]]

In [ ]:
suffolk_person['region_id'] = 1

In [20]:
suffolk_person.to_csv('sample_data/suffolk.csv', index=False)

In [21]:
suffolk_person

      PH_SEQ  PPPOS  A_AGE  A_SEX  A_MARITL  PRDTRACE  PEARNVAL  A_FNLWGT
0    10105.0   41.0   47.0    2.0       1.0       1.0   60000.0  378754.0
1    10105.0   42.0   28.0    1.0       1.0       1.0       0.0  374007.0
2    10106.0   41.0   54.0    2.0       1.0       1.0   25000.0  352487.0
3    10106.0   42.0   56.0    1.0       1.0       1.0   23000.0  398765.0
4    10107.0   41.0   75.0    2.0       4.0       1.0       0.0  367004.0
..       ...    ...    ...    ...       ...       ...       ...       ...
606  10361.0   44.0    5.0    1.0       7.0       2.0       0.0       0.0
607  10361.0   45.0   59.0    2.0       4.0       2.0       0.0       0.0
608  10362.0   41.0   37.0    2.0       1.0       4.0    9000.0       0.0
609  10362.0   42.0   37.0    1.0       1.0       4.0   58000.0       0.0
610  10362.0   43.0    2.0    2.0       7.0       4.0       0.0       0.0

[611 rows x 8 columns]